.yellowbox {
    margin-left: 50px;
}

.redbox {
    margin-left: 70px;
}

.fd1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    transition: 0.3s;
    width: 100%;
  }

  .fd1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
  }

  .small-box {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    width: 100%;
  }


.total_trip {
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  background: lighten(black, 12);
  color: white;
  font-family: 'Lato';
  }