
<div class="row-12">
  <div class="card" style="background-color: whitesmoke">
    <marquee direction="left">
      <h5 style="color: red;"><b>LIVE MineX Analysis </b></h5>
    </marquee>
  </div>
</div>
