
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a  [routerLink]="['/dashboard']" class="brand-link bg-sid-bar">
      <img src="assets/dist/img/Zeone1.png" alt="AdminLTE Logo" class="brand-image">
      <span class="brand-text font-weight-light" style="font-size: x-large; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"><b> &nbsp; MineX </b> </span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <a href="#" class="d-block" style="margin-left: 10px;"> <i class="fa fa-truck"> </i> &nbsp; XYZ Pvt Ltd</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            
          <li class="nav-item has-treeview">
              <a  class="nav-link">
                <i class="fa fa-truck"> </i>
                <p>
                   &nbsp; Monte Carlo
                </p>
              </a>
            </li>
            
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>