.brand-image {
    margin-left: 1px;
    width: 55px;
    height: 60px;
}

/* a.brand-link.bg-sid-bar[_ngcontent-wmh-c3] {
    background: whitesmoke;
    font-weight: 800;
    font-style: italic;
    font-family:cursive;
    font-optical-sizing: inherit;
    font-size: x-large;
} */

/* .img-circle[_ngcontent-sct-c3] {
    background: rgb(255, 255, 255);
} */
