/* You can add global styles to this file, and also import other style files */
.mainSize1024 {max-width: 1024px;margin: auto;}
.fd {width: 100%;float: left;position: relative;}
.m_t_15 {margin-top: 15px;}
.bg_Log {
    background: #ddd url(./assets/dist/img/back.jpg);
    height: 100vh;
    background-size: cover;
}
.p_tb_80 {padding-top: 30px;padding-bottom: 90px;}