<div class="fd wrapper">
    <app-navbar></app-navbar>
    <app-aside></app-aside>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <router-outlet></router-outlet>

    <footer class="fd mb-5 text-center mt-5">
        <strong>Copyright &copy; 2020  ZEONE TECHNOLOGIES PVT LTD.</strong> All rights reserved.
    </footer>

    
</div>
<!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <div class="p-3">
            <h5>Title</h5>
            <p>Sidebar content</p>
        </div>
    </aside>
    <!-- /.control-sidebar -->

    <!-- Main Footer -->
    
    
</div>
<!-- ./wrapper -->

